<h1>EvacuSpot Locator</h1>
<form>
<h3>Mode of Transit</h3>
   <p>
      <input type="radio" name="m_transit" value="by_foot" checked>Walking<br>
      <input type="radio" name="m_transit" value="by_bike">Bicycle<br>
      <input type="radio" name="m_transit" value="by_bus">Public Transit<br>
      <input type="radio" name="m_transit" value="by_car">Driving<br>
   </p>
<h3>Use this address or submit another address:</h3>
   <p>
      <input id="user_addr" type="text" name="user_addr" accept-charset="UTF-8">
   </p>
<h3>
<p>
   <input type="submit" text="Submit">
</p>
</form>
<br>
<div id="map-container">
  <div id="map"></div>
</div>

<script>
  var map, mapOptions, geocoder;
  var myLocation = {lat: <%= latitude %>, lng: <%= longitude %>};

  function initMap(){
    geocoder = new google.maps.Geocoder();

    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLocation,
      zoom: 13
    });

    locationAddress(geocoder, map);
  }

  function locationAddress(geocoder, map) {
        console.log('ok');

    var location = myLocation;
    geocoder.geocode( { 'location': myLocation}, function(results, status) {
        console.log('ok');

      if (status == google.maps.GeocoderStatus.OK) {
        console.log(results);
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
        document.getElementById('user_addr').value = results[0].formatted_address;
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>

