<!DOCTYPE html>
<html>
<head>
  <title>EvacuSpot Locator</title>

  <!-- Stylesheets and Fonts -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,300,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <%= yield %>

</body>
</html>