<!DOCTYPE html>
<html>
<head>
  <title>EvacuSpot Locator</title>

  <!-- Stylesheets and Fonts -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

  <%= yield %>

</body>
</html>